.calculatorTable {
  width: 240px;
  text-align: center;
}
.calculatorCell {
  width: 25%;
  height: 25%;
}
.redText {
  color: #ff0000;
}
.calculatorTitle {
  color: #00008b;
  text-shadow: 2px 2px 2px #00008b;
}
.calculator {
  border: 2px solid;
  border-color: #008b8b;
  border-radius: 5px;
  background: #add8e6;
  width: 240px;
  text-align: center;
  color: #008b8b;
}
.calculatorButton {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color: #00008b;
}
.calculatorButtonBottom {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color: #00008b;
}
.button {
  display: inline-block;
  border: 1px solid #808080;
}
#calculatorDisplay {
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: right;
}
.calculatorBottomRows {
  display: inline-block;
}