input[type="button"] {
    border: 1px solid #808080;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

input[type="text"] {
  border: 1px solid #000000;
  border-radius: 5px;
}